.trucks_form_container {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /**border: 1px solid lightgray; **/
  justify-content: center;
  align-items: center;
  margin:2rem;
  max-width:70rem;
  }


  .trucks_data_container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width:40rem;
    border:1px solid lightgray;
    margin:1rem;
    padding:1rem;
  }

  .trucks_form_header {
    color:black;
    margin:1rem;

  }


  .custom_button {
    border: 1px solid red;
    color:red;
    margin:0.5rem;
    padding:5px;
    margin-left: auto;
  }

  .custom_button:hover {
    color:white;
    background-color:red;
  }

  .custom_db_button {
    border: 1px solid blue;
    color:blue;
    margin:1rem;
    padding:5px;

  }

  .db_button_container {

    display: flex;
    justify-content: center;
  }

  .custom_db_button:hover{
    color:white;
    background-color: blue;
  }


  .list_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .list_item_data {

    margin:0.5rem;
    padding:5px;
  }

